* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

#container {
  position: relative;
  padding: 93px  2rem 2rem 2rem;
  flex: 1;
  margin-left: 0px;
  transition: ease-in-out 400ms;
}

#core {
  transition: ease-in-out 400ms;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}